.main-container {
    padding-top: 1rem;
    padding-inline: .75rem;
    max-width: 1920px;
    display: block;
    position: relative;
    margin: 0 auto;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.sum-input-container input {
  min-width: none;
}

/* disables selection of text */
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.noselect:hover {
  cursor: pointer;
}

code {
  display: block;
  color: rgb(60, 60, 76);
}

@media only screen and (min-width: 767px) {
  .sum-input-container input {
    min-width: 220px;
  }
}